.main-header {
  text-align: center;
  color: burlywood;
}

.alya {
  color: black;
  text-indent: 20px;
  text-align: left;
  margin: 20px 5px;
}

.selection-content {
  text-align: center;
}

.selection-btn {
  height: 50px;
  width: 80%;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  margin: 2px;
}

.lightskyblue-color {
  background-color: lightskyblue;
  color: white;
}

.darkorange-color {
  background-color: darkorange;
  color: white;
}

.green-color {
  background-color: green;
}

.red-color {
  background-color: rgb(170, 4, 4);
}

#paragraph-rumus-article {
  text-align: center;
  font-weight: bold;
  margin: 0;
}

#selection-paragraph-article {
  line-height: 1.5;
}

/* Area Segitiga */
.luas-segitiga-header {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: lightskyblue;
  text-align: center;
  margin: 15px 0px;
}

.keliling-segitiga-header {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: lightskyblue;
  text-align: center;
  margin: 15px 0px;
}

.luas-segitiga-content {
  display: flex;
  flex-direction: column;
}

.keliling-segitiga-content {
  display: flex;
  flex-direction: column;
}

.luas-segitiga-img {
  height: 300px;
  width: 300px;
  background-image: url(https://asset.kompas.com/crops/ZwOr6ZrEtAtid5uZmYhDFijYPa4=/175x161:1573x1094/750x500/data/photo/2022/03/09/62288763c6d64.png);
  background-size: cover;
  background-position: center;
  align-self: center;
}

.keliling-segitiga-img {
  height: 300px;
  width: 300px;
  background-image: url(https://asset-a.grid.id/crop/0x0:0x0/x/photo/2021/01/15/1853786887.jpg);
  background-size: cover;
  background-position: center;
  align-self: center;
}

.header-form {
  text-align: center;
}

.keliling-segitiga-form-header {
  text-align: center;
}

.alas-segitiga {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alas-segitiga input {
  width: 70%;
}

.tinggi-segitiga {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tinggi-segitiga input {
  width: 70%;
}

.sisi1-segitiga {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sisi1-segitiga input {
  width: 70%;
}

.sisi2-segitiga {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sisi2-segitiga input {
  width: 70%;
}

.sisi3-segitiga {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sisi3-segitiga input {
  width: 70%;
}

input[type="number"] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.selection-btn-form {
  color: white;
  height: 35px;
  width: 20%;
  border: none;
  border-radius: 7px;
  justify-items: center;
}

.output-luas-sg {
  display: none;
}

.output-keliling-sg {
  display: none;
}

.main-content {
  display: flex;
}

.main-content > aside {
  flex: 1;
  margin: 0px 5px;
}

/* Area Jajar Genjang */
.luas-tittle-content {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: darkorange;
  color: white;
  text-align: center;
  margin: 15px 0px;
}

.keliling-tittle-content {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: darkorange;
  color: white;
  text-align: center;
  margin: 15px 0px;
}

.luas-jajargenjang-img {
  width: 320px;
  height: 250px;
  background-image: url(https://imgix2.ruangguru.com/assets/miscellaneous/png_b5ilxq_6544.png);
  background-size: cover;
  background-position: center;
  align-self: center;
}

.keliling-jajargenjang-img {
  width: 320px;
  height: 250px;
  background-image: url(https://imgix2.ruangguru.com/assets/miscellaneous/png_b5ilxq_6544.png);
  background-size: cover;
  background-position: center;
  align-self: center;
}

.alas-jajargenjang {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alas-jajargenjang input {
  width: 70%;
}

.panjang-jajargenjang {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panjang-jajargenjang input {
  width: 70%;
}

.sisi1-jajargenjang,
.sisi2-jajargenjang,
.sisi3-jajargenjang,
.sisi4-jajargenjang {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sisi1-jajargenjang input,
.sisi2-jajargenjang input,
.sisi3-jajargenjang input,
.sisi4-jajargenjang input {
  width: 70%;
}

.keliling-jajargenjang-content {
  display: flex;
  flex-direction: column;
}

/* Aside /  Dua Layar*/
.section {
  display: flex;
}

.section aside {
  flex: 1;
  margin: 0px 5px;
}

/* Responsive */
@media only screen and (max-width: 480px) {
  .main-content {
    flex-direction: column;
  }
  .section {
    flex-direction: column;
  }
}
